@font-face {
  font-family: 'StarJediOutline';
  font-style: normal;
  font-weight: normal;
  src: local("Star Jedi Outline"),
    url("../fonts/StarJediOutline-y0xm.ttf") format("ttf");
}

.heading {
  font-family: 'StarJediOutline';
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

.form-control::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: white !important;
  opacity: 1; /* Firefox */
}

.card:hover {
  transition-duration: 0.5s;
  transform: scale(1.1);
}

.modal-overlay {
  height: 100%;
  width: 100%;
}